

<p id="notice"><%= notice %></p>
<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>Display Stats in table or graphically? 
<%= select_tag :viz, options_for_select([ "Table", "Graph" ], selected: "Table"),
      :onchange => "compareFunc(this.options[this.selectedIndex].value); return false;" %>
</p>

<div class="table_stats">
<%= render 'table_stats' %>
</div>

<div class="graph_stats">
<%= render 'graph_stats' %>
</div>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>

<script type="text/javascript"> 
  function compareFunc(x) {
		if (x == "Table") {
			$('.table_stats').show();
			$('.graph_stats').hide();
		}
		else if (x == "Graph") {
			$('.graph_stats').show();
			$('.table_stats').hide();
		}
	};
</script>
