
<div class="centerBox">
	<p id="notice"><%= notice %></p>
<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>

<table border="1">
	<tr>
      <th>Date</th>
      <th>Game 1</th>
      <th>Game 2</th>
      <th>Game 3</th>
      <th>Total</th>
      <th>Average</th>
      <th>Overall Average</th>
    </tr>
    <% @overall_avg = [] %>
    <% @person.game_sets.each do |game_set| %>
    <tr>
    	<td><%= game_set.date %></td>
    	<td><%= game_set.games[0] %></td>
    	<td><%= game_set.games[1] %></td>
    	<td><%= game_set.games[2] %></td>
    	<td><%= game_set.total %></td>
    	<td><%= game_set.average %></td>
    	<td><% @overall_avg << game_set.average %>
    		<%= Calculate.avg(@overall_avg) %></td>
    </tr>
    <% end %>
</table>

<p>Average By Game</p>
<p>Game 1: <%= @game1_avg %></p>
<p>Game 2: <%= @game2_avg %></p>
<p>Game 3: <%= @game3_avg %></p>

<p>Total Pins: <%= @total_pins %></p>
<p>Overall Average: <%= Calculate.avg(@overall_avg) %></p>


</div>
