<div>
	<p>These averages are the set averages for the eacg night of bowling in the week selected.</p>
</div>

<%= form_tag high_game_compare_path, :method => 'get' do %>
<p>Date: <%= date_field_tag :date, params[:date] %>    
<%= submit_tag "Filter", :name => nil %></p>
<% end %>

<table border='1'>
	<tr>
		<th>Bowler ID#</th>
		<th>Bowler Name</th>
		<th>Score</th>
		<th>Day of Week</th>
		<th>Date</th>
	</tr>
	
	<% @sorted.each do |person| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= person["id"] %></td>
      <td><%= person["first_name"] %> <%= person["last_name"] %></td>
      <td><%= person["game"] %></td>
      <td><%= person["day"] %></td>
      <td><%= person["date"] %></td>
	</tr>
	<% end %>
</table>


<style type="text/css">
.ui-datepicker {
    background: #333;
    border: 1px solid #555;
    color: #EEE;
}
</style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#date" ).datepicker({dateFormat: "yy-mm-dd"});
  } );
  </script>